<div>
  <h2>Product List</h2>
  <div class="product-grid">
    <mat-card *ngFor="let product of products" class="product-card">
      <img mat-card-image [src]="product.image" alt="{{ product.title }}" />
      <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-subtitle>Price: {{ product.price | currency }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="viewProduct(product.id)">View</button>
        <button mat-button color="accent" (click)="editProduct(product)">Edit</button>
        <button mat-button color="warn" (click)="deleteProduct(product.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="selectedProduct">
    <h2>Product Details</h2>
    <p>ID : {{selectedProduct.id}}</p>
    <p>Title : {{selectedProduct.title}}</p>
    <p>Price : {{selectedProduct.price}}</p>
    <p>Description : {{selectedProduct.description}}</p>
    <button (click)="selectedProduct = null">Close</button>
  </div>
</div>
