<div>
  <h2>Product List</h2>
  <div class="product-grid">
    <!-- <mat-card *ngFor="let product of products" class="product-card">
      <img mat-card-image [src]="product.image" alt="{{ product.title }}" />
      <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-subtitle>Price: {{ product.price | currency }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ product.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="viewProduct(product.id)">View</button>
        <button mat-button color="accent" (click)="editProduct(product)">Edit</button>
        <button mat-button color="warn" (click)="deleteProduct(product.id)">Delete</button>
      </mat-card-actions>
    </mat-card> -->
  </div>
  <h2 *ngIf="isEditing">Edit Product</h2>
  <h2 *ngIf="!isEditing">Add Product</h2>
  <form (ngSubmit)="isEditing ? updateProduct(newProduct.id) : addProduct()">
    <label>Title:</label>
    <input [(ngModel)]="newProduct.title" name="title" required />
    <br />
    <label>Price:</label>
    <input [(ngModel)]="newProduct.price" name="price" type="number" required />
    <br />
    <label>Description:</label>
    <textarea [(ngModel)]="newProduct.description" name="description" required></textarea>
    <br />
    <button type="submit">{{ isEditing ? 'Update' : 'Add' }}</button>
    <button type="button" (click)="isEditing = false; newProduct = {id:0, title: '', price: 0, description: '' }">Cancel</button>
  </form>

  <div *ngIf="selectedProduct">
    <h2>Product Details</h2>
    <p>ID : {{selectedProduct.id}}</p>
    <p>Title : {{selectedProduct.title}}</p>
    <p>Price : {{selectedProduct.price}}</p>
    <p>Description : {{selectedProduct.description}}</p>
    <button (click)="selectedProduct = null">Close</button>
  </div>
</div>
