<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()"  [ngClass]="'g1'">
    <h2>reactive forms</h2>
    <div>
      <label for="username">Username:</label><br>
      <input type="text" id="username" formControlName="username">
    </div><br>
    <div>
      <label for="password">Password:</label><br>
      <input type="password" id="password" formControlName="password">
    </div><br>
    <div>
      <label for="confirmPassword">Confirm Password:</label><br>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
    </div><br><div *ngIf="passwordMismatch" class="error">Passwords do not match.</div><br>
    <div>
      <button type="submit" [disabled]="!registrationForm.valid">Submit</button>
    </div><br>
</form>