<dx-tab-panel [dataSource]="tabColumnData">
    <div *dxTemplate="let tabTitle of 'title'">
        <span>{{tabTitle.tabName}}</span>
    </div>
    <div *dxTemplate="let item of 'item'">
        <div *ngIf="item.singleRow">
            <dx-data-grid id="1" [dataSource]="customers" keyExpr="ID" [columns]="sab" [showBorders]="true">
            </dx-data-grid>
        </div>
        <div *dxTemplate="let item of 'item'">
            <div *ngIf="!item.singleRow">
                <dx-data-grid [dataSource]="tabDataSource">
                    <div>
                        <dxi-column [dataField]="item.columnName"></dxi-column>
                    </div>
                </dx-data-grid>
            </div>
            <div *ngIf="item.singleRow">
                <div class="grid ">
                    <div *ngFor="let item of wings" class="grid1">
                        {{item.Text}}
                        <div *ngIf="item.dataType === 'date'">
                            <dx-date-box id="space">
                            </dx-date-box>
                        </div>
                        <div *ngIf="item.dataType === 'String'">
                            <dx-text-box id="space"></dx-text-box>
                        </div>

                        <div *ngIf="item.dataType === 'Number'">
                            <dx-text-box id="space"></dx-text-box>
                        </div>

                        <div *ngIf="item.dataType === 'selectbox'">
                            <dx-select-box id="space" [dataSource]="partycode">
                            </dx-select-box>
                        </div>

                        <div *ngIf="item.dataType === 'selectbox1'">
                            <dx-select-box id="space" [dataSource]="Branch">
                            </dx-select-box>
                        </div>

                        <div *ngIf="item.dataType === 'selectbox2'">
                            <dx-select-box id="space" [dataSource]="PriceList">
                            </dx-select-box>
                        </div>

                        <div *ngIf="item.dataType === 'selectbox3'">
                            <dx-select-box id="space" [dataSource]="VatTax">
                            </dx-select-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dx-tab-panel>